<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer id="footermini" class="site-footer">

	<article id="miniarticle">
		<br>
		<img id="imgfooter" class="img-responsive center-block" src="{{asset('assets/images/ABShore.svg')}}" alt="footer_img"/>
		<br>
		<p id="follow">Follow us on:</p>

		<div class="icons">

			<a ref=" #">
				<i id="facebook" class="fa fa-facebook w3-text-teal" style="font-size:14px"></i>
			</a>
			<a href="#">
				<i id="insta" class="fa fa-instagram w3-text-teal" style="font-size:14px"></i>
			</a>
			<a href="#">
				<i id="twit" class="fa fa-twitter w3-text-teal" style="font-size:14px"></i>
			</a>
			<a href="#">
				<i id="link" class="fa fa-linkedin w3-text-teal" style="font-size:14px"></i>
			</a>
			<a href="#">
				<i id="gog" class="fa fa-google-plus w3-text-teal" style="font-size:14px"></i>
			</a>

		</div>
	</div>
	<div class="footer-center col-md-4 col-sm-6">
		<div></article>
		<article id="miniarticle">
			<br>
			<p id="footerp">
				Email : contact@abshore.com</p>
			<br>
			<p id="footerp">
				Téléhones : (+216) 71 963 456</p>
			<br>
			<p id="footerp">fax : (+216) 71 963 466</p>
		</article>
		<article id="miniarticle">

			<img id="footer_img1" class="img-responsive center-block" src="{{asset('assets/images/XMLID_1_.svg')}}" alt=""/>
		</article>
		<br>


		<div>
			<article id="miniarticle">
				<br>

				<br>

				<p id="copyright">Abshore
					<i class="fa fa-copyright" aria-hidden="true"></i>
					2021 ABSHORE ALL RIGHTS RESERVED</p>
			</article>
		</div>


	</footer>
	<hr>
