<nav class="navbar">
	<a  href="{{ asset ('assets/images/toplogo.png')}}" alt="site toplogo"></a>
	<a href="#"><img class="navbar__logo" src="{{ asset ('assets/images/ABShore.png')}}" alt="site logo">
	</a>
	<div class="navbar__bars"><i class="fas fa-bars"></i></div>
      
	<div class="navbar__menu">

		<a href="/" class="navbar__menu--links">Home</a>
		<a href="/" class="navbar__menu--links">About us</a>
		<a href="/" class="navbar__menu--links">Services</a>
		<a href="/" class="navbar__menu--links">Our Story</a>
		<a href="/" class="navbar__menu--links">References</a>
		<a href="/" class="navbar__menu--links">Services</a>
		<a href="/" class="navbar__menu--links" id="button">Let's Talk</a>

	</div>

</nav>