{% if services %}
	<section class="services">

		<div class="s-heading">
			<h4>OUR SERVICES</h4>
			<h1 id="WWO">What We Offer</h1>
		</div>


		<div class="s-box-container">
			{% for service in services %}

				<div class="s-box" {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %}>

					<div class="bar"></div>

					<img alt="1" src="{{asset('uploads/brochures/'~service.img)}}">

					<h1>{{ service.nom }}</h1>

					<p>{{ service.description }}</p>

					<a class="s-btn" href="{{ service.details }}">See More</a>
				</div>


			</div>

		</section>
	{% endif %}
