<div class="hero">
    <div class="hero__container">
      <div class="hero__container--left">
        
        <h2>Artificial Intelligence</h2>
          <br>
          <br>
           <br>
           <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudan
            tium totam rem aperiam.
           </p>
            <br>
           <br>
           <br>
        <button class="hero__container--btn"><a href="#">Work with us</a></button>
      </div>
      <div class="hero__container--right">
        <img
          src="{{ asset ('assets/images/Group 13328.png')}}"
          alt="Groupe 173"
          class="hero__container--img"
        />
      </div>
    </div>
  </div>