<div class="hero">
    <div class="hero__container">
      <div class="hero__container--left">
        <h2>Expert & solid team
            for happy clients</h2>
        <br>
        <br>
         
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudan
            tium totam rem aperiam.
            </p>
          <br>
        <br>
         <br>
        <button class="hero__container--btn"><a href="#">See our Story</a></button>
      </div>
      <div class="hero__container--right">
        <img
          src="{{ asset ('assets/images/Group 1290.png')}}"
          alt="alien2"
          class="hero__container--img"
        />
      </div>
    </div>
  </div>