<div class="hero">
    <div class="hero__container">
      <div class="hero__container--left">
        
        <h2>REVOLUTIONS BRING DISRUPTIONS AND DISRUPTIONS BRING OPPORTUNITIES</h2>
          <br>
          <br>
           <br>

        <button class="hero__container--btn"><a href="#">Work with us</a></button>
      </div>
      <div class="hero__container--right">
        <img
          src="{{ asset ('assets/images/Vector.png')}}"
          alt="Groupe 173"
          class="hero__container--img"
        />
      </div>
    </div>
  </div>