{% if pages %}

	<div class="hero">
		<div class="hero__container">
			<div class="hero__container--left">

				{% for page in pages %}
					{% if page.id == 6  %}


						<h2>{{ page.titre }}</h2>
						<br>
						<br>
						<br>

						<button class="hero__container--btn">
							<a href="{{ page.pagesdetails }}">Work with us</a>

						</div>

						<div class="hero__container--right">
						<img alt="2" src="{{asset('uploads/brochures/'~page.imgPages)}}">
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

	{% endif %}
