<div class="hero">
    <div class="hero__container">
      <div class="hero__container--left">
        <h2>International Digital Services Company (ESN)</h2>
        <br>
        <br>
         
        <p>Founded in 2012, ABSHORE has a rich and varied experience in the
          provision of services and participates in all phases of the project, from the
          study of needs to maintenance, including design, development,
          deployment and construction. 'exploitation.
          ABSHORE supports its clients in the areas of Performance Management,
          Digital Transformation and Big Data.
          Established in Tunisia and France, ABSHORE contributes to major
          international account projects, and offers its services both nearshore and
          on site with its partners and customers</p>
          <br>
        <br>
         <br>
        <button class="hero__container--btn"><a href="#">See our Story</a></button>
      </div>
      <div class="hero__container--right">
        <img
          src="{{ asset ('assets/images/4.png')}}"
          alt="alien"
          class="hero__container--img"
        />
      </div>
    </div>
  </div>