<div class="hero">
    <h2>Contact us</h2>
    <div class="hero__container">
        
      <div class="hero__container--left">
        <div class="hero__minicontainer">
        <div class="hero__minicontainer--left">
        <img
        src="{{ asset ('assets/images/placeholder.png')}}"
        height="55px"
        width="55px"
      />
      </div>
      <div class="hero__minicontainer--right">
        <p>ABSHORE TUNISIE
            6, rue du Lac Tibériade – 1er étage
            Bureau N°02, 1053 Les Berges du Lac,
            Tunis, Tunisie</p>
            <button class="hero__container--minibtn"><a href="#">get direction</a></button>
        </div>
      </div>
          <br>
        <br>
         <br>
       
      </div>
      
      <div class="hero__container--right">
        <div class="hero__minicontainer">
        <div class="hero__minicontainer--left">
            <img
            src="{{ asset ('assets/images/placeholder.png')}}"
            height="55px"
            width="55px"
          />
          </div>
          <div class="hero__minicontainer--right">
            <p>ABSHORE TUNISIE
                6, rue du Lac Tibériade – 1er étage
                Bureau N°02, 1053 Les Berges du Lac,
                Tunis, Tunisie</p>
                <button class="hero__container--minibtn"><a href="#">get direction</a></button>
          </div>
      
          
        </div>
    </div>
  </div>
 </div>