<div class="hero">
    <div class="hero__container">
      <div class="hero__container--left">
        
        <img
          src="{{ asset ('assets/images/Icon 1.png')}}"
          alt="alien2"
          class="hero__container--img2"
        
        />
      </div>
      <div class="hero__container--right">
        
        <p><b>"</b> 
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudan tium totam rem aperiam.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudan tium totam rem aperiam.
            <b>"</b> </p>
            
          <br>
        <br>
         <br>
         <h2>Asma Brini
            Chief executive officer</h2>
        <br>
        <br>
        <button class="hero__container--btnleft"><a href="#">See the team</a></button>
    </div>
  </div>
  </div>